h1 {
  font-variant: inherit;
  color: pink;
  background-color: brown;
  width: 50%;
  height: auto;
}

.decor {
  width: 300px;
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}
.decor1 {
  width: 300px;
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: pink;
}
.decor2 {
  width: 300px;
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: green;
}

img {
  width: 300px;
  height: auto;
}
